<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp1.easygreen.mapper.DataMapper">
    <resultMap id="BaseResultMap" type="com.pp1.easygreen.entity.Data">
        <!--
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="plant_id" jdbcType="BIGINT" property="plantId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="temperature" jdbcType="VARCHAR" property="temperature"/>
        <result column="humidity" jdbcType="VARCHAR" property="humidity"/>
        <result column="soil_moisture" jdbcType="VARCHAR" property="soilMoisture"/>
        <result column="light_intensity" jdbcType="VARCHAR" property="lightIntensity"/>
        <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime"/>
    </resultMap>
    <resultMap id="DataResultMap" type="com.pp1.easygreen.entity.Data" extends="BaseResultMap">
        <result column="plant_name" jdbcType="VARCHAR" property="plantName"></result>
    </resultMap>
    <sql id="DataSql">
        select d.id,
               plant_Id,
               user_Id,
               temperature,
               humidity,
               soil_moisture,
               light_intensity,
               p.plant_name plant_name,
               collect_time
        from data d
        left join plant p on p.id = d.plant_id
    </sql>
    <sql id="Base_Column_List">
        <!--
        -->
        `id`, `plant_id`, `user_id`, `temperature`, `humidity`, `soil_moisture`, `light_intensity`, `collect_time`
    </sql>
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Mar 30 14:22:00 CST 2021.
        -->
        select
        <include refid="Base_Column_List"/>
        from data
        where `user_id` = #{user_id,jdbcType=BIGINT}
    </select>
    <select id="selectDataListByUserId" resultMap="DataResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Mar 30 14:22:00 CST 2021.
        -->
        <include refid="DataSql"></include>
        where `user_id` = #{user_id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from data
        where `id` = #{id,jdbcType=BIGINT}
    </delete>
</mapper>